.logo {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.x-mask {
  z-index: 9999 !important;
}

.leaflet-control-coordinates {
  left: 40px !important;
}

.plot {
  position: absolute;
  bottom: 40px;
  right: 10px;
  z-index: 401;
}

.slider {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 400;
  .x-panel-body-default {
    background: transparent !important;
  }
  .x-btn-default-small {
    background: #51505b !important;
    border-radius: 5px !important;
    border: 1px solid black !important;
  }
  .x-btn-icon-left > .x-btn-icon-el-default-small, .x-btn-icon-right > .x-btn-icon-el-default-small {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
}

.x-slider-thumb {
  background: $base-color !important;
}