.logo {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.plot {
  position: absolute;
  bottom: 40px;
  right: 10px;
  z-index: 90001;
}

.slider {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 90000;
}